# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
config.env

# macOS / IDE
.DS_Store
.vscode/

# Course / Natours compiled files
4-natours/**/bundle.js
4-natours/**/bundle.js.map
4-natours/**/mapbox.js
4-natours/**/tour.html
4-natours/**/overview.html
